/* ===== レンジ ===== */
.sealevel {
  appearance: none;
  width: 100px;
  height: 10px;
  border: 1px solid #333333;
  border-radius: 9999px;
  background: linear-gradient(90deg, #133343 70%, #ffffff 70%);
  cursor: pointer;
}

/* ツマミ：Chrome, Safari, Edge用 */
.sealevel::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 20px;
  border: 0.5px solid #333333;
  border-radius: 9999px;
  background: #ffffff;
  box-shadow: none;
}

/* ツマミ：Firefox用 */
.sealevel::-moz-range-thumb {
  width: 10px;
  height: 20px;
  border: 0.5px solid #333333;
  border-radius: 9999px;
  background: #ffffff;
  box-shadow: none;
}
