/* ===== ボタン類 ===== */

button,select {
  width: 100%;
  height: 40px;
  border: 1px solid #333333;
  border-radius: 3px;
  margin: 5px;
}

.run {
  background: #bf080e;
  border: none;
  color: white;
}

.container {
  display: flex; /* 要素を横並びにする */
  align-items: center; /* 垂直方向中央に揃える */
  gap: 10px; /* 要素間の隙間 */
}

.input,
.randomize {
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input {
  /* テキストボックスの幅を調整 */
  width: 70%;
  height: 40px;
}

.randomize {
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 20%;
  height: 40px;
}

.randomize:hover {
  background-color: #0056b3;
}

#download {
  background: #424242;
  border: none;
  color: white;
  height: 20px;
}

/* ===== レンジ ===== */
.sealevel {
  appearance: none;
  width: 100%;
  height: 10px;
  border: 1px solid #333333;
  border-radius: 9999px;
  background: linear-gradient(90deg, #133343 70%, #ffffff 70%);
  cursor: pointer;
}

/* ツマミ：Chrome, Safari, Edge用 */
.sealevel::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 20px;
  border: 0.5px solid #333333;
  border-radius: 9999px;
  background: #ffffff;
  box-shadow: none;
}

/* ツマミ：Firefox用 */
.sealevel::-moz-range-thumb {
  width: 10px;
  height: 20px;
  border: 0.5px solid #333333;
  border-radius: 9999px;
  background: #ffffff;
  box-shadow: none;
}
